body{
    background:rgb(78, 74, 74);
    font-family:'Montserrat',sans-serif;
  }

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 30PX;
    color: aliceblue;
}
.menu{
    width:260px;
    margin:60px auto 0;
    cursor:pointer
}
    
.title{
    width:100%;
    box-sizing:border-box;
    background:#fff;
    padding:14px;
    border-radius:4px;
    position:relative;
    box-shadow:0 0 40px -10px #000;
    color:#505050
}

i{
    float:right;
    font-size:18px
}
.dropdown{
    width:100%;
    background:#fff;
    border-radius:4px;
    box-shadow:0 0 40px -10px #000;
    color:#505050;
    margin-top:24px;
    max-height:0;
    overflow:hidden;
    transition:all .5s
}
.desplegado{
    max-height:250px
}
.arrow{
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
    position:absolute;
    right:20px;
    bottom:-24px;
    display:none
}
.arrow.gone{
    display:block
}
.r{
    padding:15px 14px;
    margin:0;
    transition:all .1s
}

.r:hover{
    background:rgb(78, 74, 74);    
    color:rgba(255,255,255,0.8);
    box-shadow:0 0 30px -10px #000
}


button {

    width: 300px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(41, 156, 80);
    padding: 20px;
    margin: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .home {
    width: 100px;
    color: #fff;
    height: 60px;
    font-size: 15px;   
    background-color: rgba(0,125,230,1);
    padding: 5px;
    margin: 0px 2px;
    border-radius: 5px;
    cursor: pointer;  
    position: absolute;
    top: 10px;
    right: 10px;
}
  