body{
    background:rgb(78, 74, 74);
    font-family:'Montserrat',sans-serif;
  }

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 30PX;
    color: aliceblue;
}
i{
    float:right;
    font-size:18px
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

button {
  
    width: 300px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(41, 77, 156);
    padding: 20px;
    margin: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
  }